<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{
  'background': config.fondo,
  'padding': '20px',
  'border': '5px solid black',
  'border-color': config.color
}">
  <h1>
    Bienvenido al {{ title }}
  </h1>
  <p>{{ descripcion }}</p>

  <nav>
    <a [routerLink]="['/']">Home</a>
    &nbsp;
    <a [routerLink]="['/sapatos']">sapatos</a>
    &nbsp;
    <a [routerLink]="['/videojuego']">videojuego</a>
    &nbsp;
    <a [routerLink]="['/cursos']">cursos</a>
  </nav>

  <!--<button (click)="ocultarVideoJuegos(false)" *ngIf="mostrar_videojuegos" >Ocultar</button>
  <button (click)="ocultarVideoJuegos(true)" *ngIf="!mostrar_videojuegos" >Mostrar</button>
  
<videojuego *ngIf="mostrar_videojuegos"></videojuego>
  
<cursos></cursos>-->
  <sapatos></sapatos>
  <router-outlet></router-outlet>
</div>
