<h2>{{titulo}}</h2>

<p>Añadir Marca</p>
<p>
<input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()" />
<button (click)="getMarca()">Mostrar Marca</button>
<button (click)="addMarca()">Añadir Marca</button>
</p>
<p>{{mi_marca}}</p>

<p>Comprea las sapatos de las mejores marcas</p>
<ul>
  <li *ngFor="let marca of marcas; let indice = index">
    {{indice + ' - ' + marca}}
    <button (click)="borrarMarca(indice)">Borrar</button>
  </li>
</ul>

<p>Los sapatos que tenemos disponibles son las siguientes</p>
<ul>
  <li *ngFor="let sapatos of zapatillas">
    <div *ngIf="sapatos.stock">
      {{sapatos.nombre}} - <strong>{{sapatos.precio}}$</strong>

      <span *ngIf="sapatos.precio < 80" [style.background]="sapatos.precio < 80 ? 'green' : 'transparent' "
        [style.color]="sapatos.precio < 80 ? 'white' : 'black'">
        ¡EN OFERTA!</span>
    </div>
  </li>
</ul>


<p>El Color del la mayoria de nuestras ZAparillas es:</p>
<input type="text" [(ngModel)]="color"/>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
      El color predominante e el <span [ngStyle]="{'background': color}">Amarillo.</span>
  </li>
   <li *ngSwitchCase="'red'">
      El color predominante e el <span [ngStyle]="{'background': color}">Rojo.</span>
  </li>
    <li *ngSwitchCase="'blue'">
      El color predominante e el <span [ngStyle]="{'background': color}">Azul.</span>
    </li>
  <li *ngSwitchCase="'orange'">
    El color predominante e el <span [ngStyle]="{'background': color}">Naranja.</span>
  </li>

</ul>