<div id=title>
  <h1>{{title}}</h1>
  <h2>{{subTitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
<h2>Sobre mí</h2>
<p>
  Tecnólogo en análisis y desarrollo de software del Servicio Nacional de Aprendizaje (SENA), conocimiento y buen manejo
  de lenguajes de programación como lo son: Java, JavaScript, MongoDB, NodeJS, plataformas netbeens, zinjai, entre otras
  y la tecnología en general. Buen manejo del idioma inglés y amplios conocimientos en música. Excelente manejo en Adobe
  Premiere.

  Soy una persona íntegra, con excelentes relaciones interpersonales y capacidad para el trabajo bajo presión. Tengo
  habilidades para el aprendizaje autodidacta que me han permitido desenvolverme en múltiples campos como lo son la
  música, la programación y los lenguajes que dicha disciplina maneja. Me destaco por ser un joven responsable y
  entregado a todo lo que realizo, con metas y objetivos claros, caracterizado por ser un agente de cambio en mi entorno
  y me desenvuelvo con facilidad en cualquier tipo de ambiente.

</p>
</article>